.tableRow {
    width: 100%;
    height: 55px;
    padding: 3px;
    border-bottom: 1px solid #ead9c9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    transition: background 0.2s ease;
    cursor: pointer;
  }
  .tableRow:hover {
    background-color: #ead9c92a;
  }
  .tableColumn {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .text {
    color: #787878;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  .shape {
    width: 117px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ead9c9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shapeText {
    color: #787878;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 15px;
  }
  
  .options {
    width: 101px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .expandButton {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .angleIcon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
  
  .expanded2 .angleIcon {
    transform: rotate(180deg);
  }
  .expanded {
    background-color: #ead9c9;
    border-top: 1px solid #c3937c;
    border-left: 1px solid #c3937c;
    border-right: 1px solid #c3937c;
    border-radius: 15px 15px 0px 0px;
    padding-inline: 10px;
    box-sizing: border-box;
  }
  .expanded:hover {
    background-color: #ead9c9;
  }
  
  .optionDotContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4px;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  .optionDot {
    width: 8px;
    height: 8px;
    background: #c3937c;
    border-radius: 50%;
  }

  .expandedRow {
    border-bottom: 1px solid #c3937c;
    border-right: 1px solid #c3937c;
    border-left: 1px solid #c3937c;
    border-radius: 0px 0px 15px 15px;
    
  }

  .optionsMenu {
    position: absolute;
    background: #fbf8f1; /* Kolor tła */
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.25); /* Cień */
    border-radius: 10px; /* Zaokrąglenia */
    border: 1px solid #c3937c; /* Kolor obramowania */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 110px;
    transition: transform 0.2s ease-in-out;
}
  
.option {
    width: 100%;
    padding: 10px 16px;
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #3e3e3e; /* Kolor tekstu */
    line-height: 25px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(195, 147, 124, 0.46); /* Delikatna linia */
    cursor: pointer;
    transition: background 0.3s ease;
}

.option:last-child {
    border-bottom: none;
}

.option:hover {
    background: #ead9c9; /* Kolor hover */
    color: #3e3e3e; /* Kolor tekstu na hover */
}

/* Zaokrąglenie pierwszej i ostatniej opcji */
.option:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.option:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Animacja i wygląd aktywnej opcji */
.option.active {
    background: #c3937c; /* Kolor aktywnej opcji */
    color: #fff; /* Kolor tekstu aktywnej opcji */
    font-weight: 600; /* Grubsza czcionka */
}
