

.listContainer {
    padding: 37px 56px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: start; 
    gap: 20px;
}
.header {
    color: #C3937C;
    margin: 0px;
    padding: 0px 37px;
    font-size: 24px;
    font-family: 'Cormorant', serif;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  

@media (max-width: 868px) {
    .listContainer {
        padding: 37px 20px;
        
    }
}

@media (max-width: 810px) {
    .listContainer {
        padding: 37px 15px;
        
    }
}
